.bkg{
	width: 1200px;
	height: 300px;
	margin: 10px auto;
	position: relative;
	background: transparent url(../images/Salle_operation_H_Bugnon-us.jpeg) center center;
	background-size: 1200px;
	border: 0px solid #fff;
}
