div.macrocontainer {
    display: grid;
    grid-template-columns: auto 1px auto;
    grid-template-rows: auto;
    padding: 20px 0px 0px 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1200px;
    margin:0 auto;
}

div.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: Black;
    text-align:center;
    position: relative;
    min-width: 150px;
    width: 530px;
    max-width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    align: center;
}

div.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: Black;
    text-align:center;
    position: relative;
    min-width: 150px;
    width: 655px;
    max-width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 45px;
    margin-left: auto;
    margin-right: auto;
    align: center;
}

div.middle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: Black;
    position: relative;
    padding: 15px 10px 0px 4px;
    font-size: 115%;
    display: flex;
    align-items: left;
    font-family: "NeoSansStd";
    min-width: 150px;
    max-width: 550px;
}

div.below {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: Black;
    padding: 0px 0px 0px 0px;
}

.container-legend {
  width: auto;
  height: 120px;
  background-color: Blue;
  display: flex;
  align-items: center;
}

div.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
	 height: 75px;
   color: white;
   text-align: center;
	 padding: 10px 0px 88px 0px;
}
